
<div class="modal fade" id="AddUser" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"><i class="bi bi-person-plus-fill pe-2"></i>Add User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row card-1 g-3">
                    <div class="col-md-6">
                        <label for="validationDefault02" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="validationDefault02">
                    </div>
                    <div class="col-md-6">
                        <label for="validationDefault02" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="validationDefault02">
                    </div>
                    <div class="col-md-6">
                        <label for="validationDefault02" class="form-label">Contact Number</label>
                        <input type="number" class="form-control" id="validationDefault02">
                    </div>
                    <div class="col-md-6">
                        <label for="validationDefault02" class="form-label">Email</label>
                        <input type="email" class="form-control" id="validationDefault02">
                    </div>

                    <div class="col-md-6">
                        <label for="validationDefault02" class="form-label">Age</label>
                        <input type="number" class="form-control" id="validationDefault02">
                    </div>

                    <div class="col-md-6">
                        <label for="validationDefault02" class="form-label">Gender</label>
                        <input class="form-control" id="validationDefault02">
                    </div>

                    <div class="col-md-6">
                        <label for="inputPosition" class="form-label">Position</label>
                        <select id="inputPosition" class="form-select">
                            <option selected>Warehouse Staff</option>
                            <option>Inspectorate</option>
                            <option>Supply Office</option>
                        </select>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary px-5" data-bs-dismiss="modal">Register</button>
            </div>
        </div>
    </div>
</div>

@code {


}
