.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

p {
    margin: 0;
    color: #fff;
    font-weight: normal;
    text-transform: uppercase;
}

.sidebar {
    background-color: transparent;
    position: relative;
}

.top-row .head {
    display: flex;
    align-items: center;
    gap: .2em;
}

.top-row .head img{
    width: 50px;
}

.top-row {
    background-color: #070641;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row a, .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row, article {
        padding-right: 1.5rem !important;
    }
}
