table {
    border-radius: 10px 10px 0 0;
    background-color: #fff;
    overflow: hidden;
}

table th, td {
    padding: 1em;
}

table th {
    background-color: #070641;
    color: #fff;
}

.form-select {
    cursor: pointer;
}